<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>
    <body>
        <div class="container">
            <hr>
            <h2>Artigos</h2>
            <hr>
            <a class="btn btn-primary" href="/admin/articles/new">Criar novo artigo</a>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Slug</th>
                        <th>Categoria</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% articles.forEach(article => { %>
                        <tr>
                            <td><%= article.id %></td>
                            <td><%= article.title %></td>
                            <td><%= article.slug %></td>
                            <td><%= article.category.title %></td>
                            <td>
                                <a id="editArtigo" href="/admin/articles/edit/<%= article.id %>" class="btn btn-warning">Editar</a>
                                <a id="deleteArtigo" href="/articles/delete/<%= article.id %>" class="btn btn-danger" onclick="confDel(event, this)">Excluir</a>

                            </td>               
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    <body>
<%- include("../../partials/footer.ejs") %>    
<script>
    function confDel(event, form){
        event.preventDefault();
        if(confirm("Deseja realmente excluir o artigo ?")){
            window.location.replace(document.getElementById("deleteArtigo").href);
        }
    };
</script>      