<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>
    <body>
        <div class="container">
            <hr>
            <h2>Categorias</h2>
            <hr>
            <a class="btn btn-primary" href="/admin/categories/new">Criar nova categoria</a>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Slug</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% categories.forEach((categoria) =>{ %>
                        <tr>
                            <th><%= categoria.id %></th>
                            <th><%= categoria.title %></th>
                            <th><%= categoria.slug %></th>
                            <th>
                                <button class="btn btn-warning">Editar</button>
                                <form method="POST" action="/categories/delete" style="display: inline;" onsubmit="confDel(event, this)">
                                    <input type="hidden" name="id" value="<%= categoria.id %>">
                                    <button class="btn btn-danger">Excluir</button>
                                </form>
                                
                            </th>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    <body>
<%- include("../../partials/footer.ejs") %>    
<script>
    function confDel(event, form){
        event.preventDefault();
        if(confirm("Deseja realmente excluir a categoria ?")){
            form.submit();
        }
    };
</script>      